//正常模式
:root {
  --menu-background: #2b68c9;
  --sub-menu-background: #2b68c9;
  --menu-color: #fff;
}

//暗黑模式
html.dark {
  img,
  .dark-img-bg {
    filter: brightness(0.8) saturate(1.25);
  }
  --menu-background: #001529;
  --sub-menu-background: #001529;
  --menu-color: #fff;
}
