@font-face {
  font-family: "iconfont"; /* Project id 4702508 */
  src: url('iconfont.woff2?t=1728389284140') format('woff2'),
       url('iconfont.woff?t=1728389284140') format('woff'),
       url('iconfont.ttf?t=1728389284140') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-addition_fill:before {
  content: "\e6e0";
}

.icon-addition:before {
  content: "\e6e1";
}

.icon-homepage_fill:before {
  content: "\e702";
}

.icon-homepage:before {
  content: "\e703";
}

.icon-message1:before {
  content: "\e70c";
}

.icon-message_fill:before {
  content: "\e70d";
}

.icon-people_fill:before {
  content: "\e715";
}

.icon-people:before {
  content: "\e716";
}

.icon-search:before {
  content: "\e741";
}

